In [1]:
import json
import pandas as pd
import numpy as np

import re

from sqlalchemy import create_engine
import psycopg2

from config import db_password

import time

In [19]:
# loading csv file
CarClean_df=pd.read_csv("Resources/car_clean.csv", index_col=None)
CarClean_df.head(5)

,Unnamed: 0,manufacturer,model,year,selling_price,fuel,seller_type,mileage
0,0,Maruti,Swift Dzire VDI,2014,450000,Diesel,Individual,23.40
1,1,Skoda,Rapid 1.5 TDI Ambition,2014,370000,Diesel,Individual,21.14
2,2,Honda,City 2017-2020 EXi,2006,158000,Petrol,Individual,17.70
3,3,Hyundai,i20 Sportz Diesel,2010,225000,Diesel,Individual,23.00
4,4,Maruti,Swift VXI BSIII,2007,130000,Petrol,Individual,16.10

In [20]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Cars_db"

In [21]:
engine = create_engine(db_string)

In [22]:
# Import the cars clean Data
CarClean_df.to_sql(name='cars_clean', con=engine, if_exists='replace')

In [24]:
rows_imported = 0
# get the start_time from time.time()
start_time = time.time()
for data in  pd.read_csv("Resources/car_clean.csv", chunksize=10000):
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='cars_clean', con=engine, if_exists='append')
    rows_imported += len(data)
    

    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 7907...Done. 0.7689454555511475 total seconds elapsed